.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.assessment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center right;
  position: relative;
  text-align: center;
}
.assessment:after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}
.assessment__title {
  font-size: 32px;
  margin-bottom: 10px;
  z-index: 1;
  color: #fff;
}
@media screen and (max-width: 667px) {
  .assessment__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 567px) {
  .assessment__title {
    font-size: 22px;
  }
}
.assessment__text {
  font-size: 24px;
  z-index: 1;
  color: #fff;
  padding: 0 20px;
}
@media screen and (max-width: 667px) {
  .assessment__text {
    font-size: 18px;
  }
}
.assessment .cta-button {
  padding: 0 10px;
  height: 40px;
  min-width: 110px;
  border: none;
  outline: none;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: linear-gradient(120deg, #DB5A27 45%, rgba(99, 78, 207, 0) 45%), linear-gradient(120deg, #FF7842 55%, #634ECF 55%);
  background-size: 250%;
  background-position: right;
  transition: 0.3s ease-in-out;
  overflow: visible;
  cursor: pointer;
  color: #fff;
  z-index: 1;
  margin-top: 20px;
}
.assessment .cta-button:hover {
  background-position: left;
  transition: 0.3s ease;
}/*# sourceMappingURL=main.css.map */